apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - github.com/GiganticMinecraft/seichi-gateway-operator/config/default?ref=5b88cb3239e41d41c33d4350d1c6e291f3c34a05

images:
  - name: controller
    newName: ghcr.io/giganticminecraft/seichi-gateway-operator
    newTag: sha-5b88cb3
