---
- name: 00-wait-to-host-reachable
  hosts: k8s-servers
  gather_facts: no
  roles:
    - 00-wait-to-host-reachable

- name: 01-ssh-keygen
  hosts: k8s-servers-cp-leader-with-ssh
  roles:
    - 01-ssh-keygen

- name: 02-setup-sshd-config
  hosts: k8s-servers
  roles:
    - 02-setup-sshd-config

- name: 11-kubeadm-join-cp
  hosts: k8s-servers-cp-follower-with-ssh
  roles:
    - 11-kubeadm-join-cp

- name: 12-kubeadm-join-wk
  hosts: k8s-servers-wk-with-ssh
  roles:
    - 12-kubeadm-join-wk

- name: 21-copy-kubeconfig
  hosts: k8s-servers-cp-with-ssh
  roles:
    - 21-copy-kubeconfig
