apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: seichi-game-data-publisher-cache-proxy
  name: seichi-game-data-publisher-cache-proxy
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: seichi-game-data-publisher-cache-proxy
  template:
    metadata:
      labels:
        app: seichi-game-data-publisher-cache-proxy
    spec:
      containers:
        - resources:
            requests:
              memory: 128Mi

          image: nginx:1.29.4
          name: seichi-game-data-publisher-cache-proxy
          ports:
            - containerPort: 80
          startupProbe:
            tcpSocket:
              port: 80
            # 最大30秒待つ
            failureThreshold: 6
            periodSeconds: 5
          volumeMounts:
            - mountPath: /etc/nginx/nginx.conf
              name: nginx-conf
              subPath: nginx.conf

        - name: nginx-exporter
          image: nginx/nginx-prometheus-exporter:1.5.1
          args:
            - "-nginx.scrape-uri=http://127.0.0.1:80/stub_status"
          ports:
            - containerPort: 9113
              name: metrics
          resources:
            requests:
              memory: 16Mi
              cpu: 10m
            limits:
              memory: 32Mi
              cpu: 50m

      volumes:
        - name: nginx-conf
          configMap:
            name: seichi-game-data-publisher-cache-proxy-nginx-conf