apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: seichi-game-data-publisher-cache-proxy
  labels:
    app: seichi-game-data-publisher-cache-proxy
spec:
  selector:
    matchLabels:
      app: seichi-game-data-publisher-cache-proxy
  endpoints:
    - port: metrics
      interval: 30s
      path: /metrics
