apiVersion: v1
kind: Service
metadata:
  name: seichi-game-data-publisher-cache-proxy
  labels:
    app: seichi-game-data-publisher-cache-proxy
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: 80
    - name: metrics
      port: 9113
      protocol: TCP
      targetPort: 9113
  selector:
    app: seichi-game-data-publisher-cache-proxy
