apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: seichi-bungeesemaphore-valkey
  namespace: argocd
spec:
  project: seichi-minecraft
  source:
    chart: valkey
    repoURL: 'https://valkey-io.github.io/valkey-helm'
    targetRevision: 0.9.1
    helm:
      releaseName: seichi-bungeesemaphore-valkey
      values: |
        image:
          registry: "mirror.gcr.io"
          repository: valkey/valkey
          tag: "9.0.1"
        deploymentStrategy: Recreate
        resources:
          requests:
            cpu: "250m"
            memory: "1Gi"
        valkeyConfig: |
          notify-keyspace-events "Eg$x"
          maxmemory 2048mb
        dataStorage:
          enabled: true
          requestedSize: 8Gi
        metrics:
          enabled: true
          exporter:
            image:
              registry: mirror.gcr.io
              repository: oliver006/redis_exporter
              tag: "v1.80.1"
            resources:
              requests:
                cpu: "100m"
                memory: "128Mi"
              limits:
                cpu: "150m"
                memory: "192Mi"
          serviceMonitor:
            enabled: true
            additionalLabels:
              release: prometheus
          prometheusRule:
            enabled: true
            extraLabels:
              release: prometheus
            rules:
              - alert: ValkeyDown
                expr: redis_up{service="{{ include "valkey.fullname" . }}-metrics"} == 0
                for: 2m
                labels:
                  severity: error
                annotations:
                  summary: Valkey instance {{ "{{ $labels.instance }}" }} down
                  description: Valkey instance {{ "{{ $labels.instance }}" }} is down
              - alert: ValkeyMemoryHigh
                expr: >
                  redis_memory_used_bytes{service="{{ include "valkey.fullname" . }}-metrics"} * 100
                  /
                  redis_memory_max_bytes{service="{{ include "valkey.fullname" . }}-metrics"}
                  > 90 <= 100
                for: 2m
                labels:
                  severity: error
                annotations:
                  summary: Valkey instance {{ "{{ $labels.instance }}" }} is using too much memory
                  description: |
                    Valkey instance {{ "{{ $labels.instance }}" }} is using {{ "{{ $value }}" }}% of its available memory.
              - alert: ValkeyKeyEviction
                expr: |
                  increase(redis_evicted_keys_total{service="{{ include "valkey.fullname" . }}-metrics"}[5m]) > 0
                for: 1s
                labels:
                  severity: error
                annotations:
                  summary: Valkey instance {{ "{{ $labels.instance }}" }} has evicted keys
                  description: |
                    Valkey instance {{ "{{ $labels.instance }}" }} has evicted {{ "{{ $value }}" }} keys in the last 5 minutes.
  destination:
    server: https://kubernetes.default.svc
    namespace: seichi-minecraft
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
