apiVersion: v1
kind: ConfigMap
metadata:
  name: origin-spawn-config
data:
  config.yml: |
    world-name: world
    loc-x: 0
    loc-y: 64
    loc-z: 0
    loc-yaw: 0.0
    loc-pitch: 0.0
    always-force-players-spawn: true
