apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mcserver--debug-s1
  namespace: seichi-debug-minecraft
  labels:
    app: mcserver--debug-s1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mcserver--debug-s1
  template:
    metadata:
      labels:
        app: mcserver--debug-s1
    spec:
      initContainers:
        - name: jmx-exporter-downloader
          image: busybox:1.36.1
          env:
            - name: JMX_EXPORTER_URL
              value: "https://repo1.maven.org/maven2/io/prometheus/jmx/jmx_prometheus_javaagent/0.20.0/jmx_prometheus_javaagent-0.20.0.jar"
          volumeMounts:
            - name: jmx-exporter-download-volume
              mountPath: /root/jmx-exporter-download
          command:
            - "sh"
            - "-c"
            - 'wget -O /root/jmx-exporter-download/jmx-exporter-javaagent.jar "${JMX_EXPORTER_URL}"'
        - name: delete-jars
          image: busybox:1.36.1
          volumeMounts:
            - name: minecraft-server-data
              mountPath: /data
          command:
            - "sh"
            - "-c"
            - "rm -rf /data/plugins/*.jar"
        - name: mod-downloader
          image: ghcr.io/giganticminecraft/mod-downloader:sha-ac8ba5c
          env:
            - name: MINIO_ENDPOINT
              value: seichi-private-plugin-blackhole-minio.minio:9000
            - name: MINIO_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: minio-access-secret
                  key: MINIO_ACCESS_KEY
            - name: MINIO_ACCESS_SECRET
              valueFrom:
                secretKeyRef:
                  name: minio-access-secret
                  key: MINIO_ACCESS_SECRET
            - name: BUCKET_NAME
              value: seichi-plugins
            - name: BUCKET_PREFIX_NAME
              value: deb-1-18-2
            - name: DOWNLOAD_TARGET_DIR_PATH
              value: /plugins
          volumeMounts:
            - name: mod-downloader-volume
              mountPath: /plugins
        - name: seichiassist-downloader
          image: busybox:1.36.1
          volumeMounts:
            - name: seichiassist-downloader-volume
              mountPath: /data/plugins
          command:
            - "chmod"
            - "+x"
            - "/plugins/seichiassist-downloader.sh"
            - "&&"
            - "sh"
            - "/plugins/seichiassist-downloader.sh"

      containers:
        - resources:
            requests:
              cpu: 6
              memory: 12Gi
            limits:
              cpu: 8
              memory: 12Gi
          env:
            - name: MEMORY
              value: 10G
            - name: TYPE
              value: PAPER
            - name: VERSION
              value: "1.18.2"
            - name: EULA
              value: "TRUE"

            - name: REMOVE_OLD_MODS
              value: "TRUE"

            - name: MODS
              value: >-
                https://github.com/DiscordSRV/DiscordSRV/releases/download/v1.25.1/DiscordSRV-Build-1.25.1.jar,
                https://github.com/GiganticMinecraft/LunaChat/releases/download/for-1.18.2-lunachat-3.0.17/LunaChat.jar,
                https://download.luckperms.net/1526/bukkit/loader/LuckPerms-Bukkit-5.4.113.jar,
                https://github.com/GiganticMinecraft/Elytra/releases/download/release-at-3d2239a54b1c0cfa5c1b5017ee36256056df911f/Elytra-1.0-SNAPSHOT.jar,
                https://github.com/GiganticMinecraft/OriginSpawn/releases/download/v0.2.7/OriginSpawn-0.2.7-SNAPSHOT.jar,
                https://github.com/GiganticMinecraft/ByeByeWither/releases/download/sha-e2a0a69/ByeByeWither-1.0.0.jar,
                https://github.com/sladkoff/minecraft-prometheus-exporter/releases/download/v2.5.0/minecraft-prometheus-exporter-2.5.0.jar,
                https://github.com/GiganticMinecraft/RandomTeleport/releases/download/for-1.18/RandomTeleport-1.0-SNAPSHOT.jar,

            - name: JVM_OPTS
              # SeichiAssistによるワールドマイグレーションをするとメモリリークが発生するため、Papermc公式が推奨しているJVM Optionを追加する
              # ref: https://docs.papermc.io/paper/aikars-flags
              value: >-
                -javaagent:/jmx-exporter/jmx-exporter-javaagent.jar=18321:/jmx-exporter/jmx-exporter-config.yaml
                -XX:+UseG1GC -XX:+ParallelRefProcEnabled -XX:MaxGCPauseMillis=200 
                -XX:+UnlockExperimentalVMOptions -XX:+DisableExplicitGC -XX:+AlwaysPreTouch 
                -XX:G1NewSizePercent=30 -XX:G1MaxNewSizePercent=40 -XX:G1HeapRegionSize=8M 
                -XX:G1ReservePercent=20 -XX:G1HeapWastePercent=5 -XX:G1MixedGCCountTarget=4 
                -XX:InitiatingHeapOccupancyPercent=15 -XX:G1MixedGCLiveThresholdPercent=90 
                -XX:G1RSetUpdatingPauseTimePercent=5 -XX:SurvivorRatio=32 -XX:+PerfDisableSharedMem 
                -XX:MaxTenuringThreshold=1 -Dusing.aikars.flags=https://mcflags.emc.gs 
                -Daikars.new.flags=true

            - name: COPY_CONFIG_DEST
              # /config をサーバーディレクトリにコピーするようにする
              # https://github.com/itzg/docker-minecraft-server/tree/9458005b5bd78b8139e13e66c29a449a12dd6218#optional-plugins-mods-and-config-attach-points
              value: /data

            # 設定ファイル内の ${CFG_*} の形をした部分を置き換える
            # https://github.com/itzg/docker-minecraft-server/tree/9458005b5bd78b8139e13e66c29a449a12dd6218#replacing-variables-inside-configs
            - name: REPLACE_ENV_VARIABLE_PREFIX
              value: CFG_

            - name: CFG_DISCORDSRV_TOKEN
              valueFrom:
                secretKeyRef:
                  name: mcserver--common--config-secrets
                  key: DISCORDSRV_TOKEN

            - name: CFG_DISCORDSRV_GLOBAL_CHANNEL_ID
              value: "1054159992447570032"

            - name: CFG_DISCORDSRV_CONSOLE_CHANNEL_ID
              value: "1054159676964622426"

            - name: CFG_SEICHIASSIST_MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mariadb
                  key: root-password

            - name: RCON_CMDS_STARTUP
              value: |-
                mv create world_SW NORMAL
                mv create world_SW_2 NORMAL
                mv create world_SW_nether NETHER
                mv create world_SW_the_end END
                gamerule keepInventory true
                mv gamerule keepInventory true world_SW
                mv gamerule keepInventory true world_SW_2
                mv gamerule keepInventory true world_SW_nether
                mv gamerule keepInventory true world_SW_the_end
                mv gamerule disableRaids true world_2
                mv gamerule disableRaids true world_SW
                mv gamerule disableRaids true world_SW_2
                mv gamerule disableRaids true world_SW_nether
                mv gamerule disableRaids true world_SW_the_end
                mv gamerule doInsomnia false world_2
                mv gamerule doInsomnia false world_SW
                mv gamerule doInsomnia false world_SW_2
                mv gamerule doInsomnia false world_SW_nether
                mv gamerule doInsomnia false world_SW_the_end
                mvm set difficulty peaceful world_2
                rg flag -w world_2 __global__ build -g members allow
                rg addmember -w world_2 __global__ unchama
                rg flag -w world_SW_2 __global__ build -g members allow
                rg addmember -w world_SW_2 __global__ unchama
                rg flag -w world_SW_the_end __global__ deny-spawn ENDER_DRAGON
                lp group default permission set multiverse.core.list.who true
                lp group default permission set multiverse.teleport.* true
                lp group default permission set multiverse.core.spawn.self true
                lp group default permission set worldedit.wand true
                lp group default permission set worldedit.selection.pos true
                lp group default permission set worldguard.region.claim true
                lp group default permission set worldguard.region.select.own.* true
                lp group default permission set worldguard.region.list.own true
                lp group default permission set worldguard.region.info.* true
                lp group default permission set worldguard.region.flag.regions.own.* true
                lp group default permission set worldguard.region.remove.own.* true
                lp group default permission set fastcraft.command.craft.fastcraft true
                lp group default permission set seichiassist.fly true
                lp group default permission set seichiassist.stick true
                lp group default permission set seichiassist.shareinv true
                lp group default permission set seichiassist.mebius true
                lp group default permission set seichiassist.home true
                lp group default permission set seichiassist.sethome true
                lp group default permission set seichiassist.stickmenu true
                lp group default permission set seichiassist.fd true
                lp group default permission set seichiassist.hat true
                lp group default permission set seichiassist.ec true
                lp group default permission set seichiassist.minestack true
                lp group default permission set seichiassist.map true
                lp group default permission set seichiassist.ef true
                lp group default permission set elytra.auto true
                lp group default permission set elytra.const-flight true
                lp group default permission set elytra.runup true
                lp group default permission set elytra.shift-activation true
                lp group default permission set elytra.speedup true
                lp group default permission set clicktpa.tpa true
                lp group default permission set clicktpa.tpacancel true
                lp group default permission set clicktpa.tpadeny true
                lp group default permission set clicktpa.tpaccept true
                lp group default permission set clicktpa.tpahere true
                lp group default permission set clicktpa.tptoggle true

          image: ghcr.io/giganticminecraft/seichi_minecraft_server_debug_base_1_18_2:sha-1267b49
          name: minecraft
          ports:
            - containerPort: 25565
              name: minecraft
            - containerPort: 18321
              name: jmx-metrics
            - containerPort: 9225
              name: mc-metrics

          startupProbe:
            tcpSocket:
              port: 25565
            # 最大120秒待つ
            failureThreshold: 6
            periodSeconds: 20

          readinessProbe:
            exec:
              command:
                - mc-monitor
                - status
                - --host
                - localhost
                - --port
                - "25565"
            initialDelaySeconds: 30
            periodSeconds: 5
            failureThreshold: 18

          volumeMounts:
            # itzg/minecraft-server は /config に設定ファイルをマウントしておけばコピーをしてくれる。
            # 環境変数の置き換えはPrefix等の設定が必要なので、必要になったら設定するように。
            # https://github.com/itzg/docker-minecraft-server/tree/9458005b5bd78b8139e13e66c29a449a12dd6218#replacing-variables-inside-configs

            # 普通にマウントすると、auto-update (常に最新のvolume内容がコンテナ内から見える) の挙動を
            # 提供するために symlink による一時ディレクトリがマウントされることになるが、
            # itzg/minecraft-server が利用するファイル同期の仕組み (itzg/mc-image-helper) は
            # symlink を展開してしまうため、設定ファイルのパスが壊れてしまう。
            #
            # subPathを利用してマウントすればsymlinkが作られることを回避できるためそのようにしている。
            # 参考: https://stackoverflow.com/a/63114800
            # 参考: https://stackoverflow.com/a/50687707

            # サーバーの設定ファイル
            - name: common-mcserver-configs
              mountPath: /config/bukkit.yml
              subPath: bukkit.yml
            - name: common-mcserver-configs
              mountPath: /config/paper.yml
              subPath: paper.yml
            - name: common-mcserver-configs
              mountPath: /config/server.properties
              subPath: server.properties
            - name: common-mcserver-configs
              mountPath: /config/spigot.yml
              subPath: spigot.yml
            - name: common-mcserver-configs
              mountPath: /config/commands.yml
              subPath: commands.yml
            - name: minecraft-ops-config
              mountPath: /config/ops.json
              subPath: ops.json

            # DiscordSRV プラグインの設定ファイル
            - name: common-mcserver-plugin-configs
              mountPath: /plugins/DiscordSRV/config.yml
              subPath: DiscordSRV-config.yml
            - name: common-mcserver-plugin-configs
              mountPath: /plugins/DiscordSRV/messages.yml
              subPath: DiscordSRV-messages.yml

            # MorningGlorySeeds プラグインの設定ファイル
            - name: common-mcserver-plugin-configs
              mountPath: /plugins/MorningGlorySeeds/config.yml
              subPath: MorningGlorySeeds-config.yml

            # LunaChat プラグインの設定ファイル
            - name: common-mcserver-plugin-configs
              mountPath: /plugins/LunaChat/config.yml
              subPath: LunaChat-config.yml
            - name: common-mcserver-plugin-configs
              mountPath: /plugins/LunaChat/dictionary.yml
              subPath: LunaChat-dictionary.yml

            # Elytra プラグインの設定ファイル
            - name: common-mcserver-plugin-configs
              mountPath: /plugins/Elytra/config.yml
              subPath: Elytra-config.yml

            # ClickTpa プラグインの設定ファイル
            - name: common-mcserver-plugin-configs
              mountPath: /plugins/ClickTpa/config.yml
              subPath: ClickTpa-config.yml

            # RandomTeleport プラグインの設定ファイル
            - name: common-mcserver-plugin-configs
              mountPath: /plugins/RandomTeleport/config.yml
              subPath: RandomTeleport-config.yml

            # WorldGuard プラグイン周りの設定ファイル
            - name: common-mcserver-plugin-configs
              mountPath: /plugins/WorldGuard/config.yml
              subPath: WorldGuard-config.yml
            - name: common-worldguard-configs
              mountPath: /plugins/WorldGuard/worlds/world_2/blacklist.txt
              subPath: main-Blacklist.txt
            - name: common-worldguard-configs
              mountPath: /plugins/WorldGuard/worlds/world_2/config.yml
              subPath: main-config.yml
            - name: common-worldguard-configs
              mountPath: /plugins/WorldGuard/worlds/world_SW/blacklist.txt
              subPath: world_SW-Blacklist.txt
            - name: common-worldguard-configs
              mountPath: /plugins/WorldGuard/worlds/world_SW/config.yml
              subPath: world_SW-config.yml
            - name: common-worldguard-configs
              mountPath: /plugins/WorldGuard/worlds/world_SW_2/blacklist.txt
              subPath: world_SW-Blacklist.txt
            - name: common-worldguard-configs
              mountPath: /plugins/WorldGuard/worlds/world_SW_2/config.yml
              subPath: world_SW_2-config.yml
            - name: common-worldguard-configs
              mountPath: /plugins/WorldGuard/worlds/world_SW_nether/blacklist.txt
              subPath: world_SW_the_end-Blacklist.txt
            - name: common-worldguard-configs
              mountPath: /plugins/WorldGuard/worlds/world_SW_nether/config.yml
              subPath: world_SW_the_end-config.yml
            - name: common-worldguard-configs
              mountPath: /plugins/WorldGuard/worlds/world_SW_the_end/blacklist.txt
              subPath: world_SW_the_end-Blacklist.txt
            - name: common-worldguard-configs
              mountPath: /plugins/WorldGuard/worlds/world_SW_the_end/config.yml
              subPath: world_SW_the_end-config.yml

            # ByeByeWither プラグインの設定ファイル
            - name: common-mcserver-plugin-configs
              mountPath: /plugins/ByeByeWither/config.yml
              subPath: ByeByeWither-config.yml

            # PrometheusExporter プラグインの設定ファイル
            - name: common-mcserver-plugin-configs
              mountPath: /plugins/PrometheusExporter/config.yml
              subPath: PrometheusExporter-config.yml

            # SeichiAssist プラグインの設定ファイル
            - name: seichiassist-config
              mountPath: /plugins/SeichiAssist/config.yml
              subPath: config.yml

            # JMX exporter 周りのファイルが入ったボリューム達のマウント設定
            - name: jmx-exporter-download-volume
              mountPath: /jmx-exporter/jmx-exporter-javaagent.jar
              subPath: jmx-exporter-javaagent.jar
            - name: common-jmx-exporter-config
              mountPath: /jmx-exporter/jmx-exporter-config.yaml
              subPath: jmx-exporter-config.yaml

            # Multiverse-Portals プラグインの設定ファイル
            - name: multiverse-portals-config
              mountPath: /plugins/Multiverse-Portals/portals.yml
              subPath: portals.yml

            # CustomEnchantments プラグインの設定ファイル
            - name: custom-enchantments-config
              mountPath: /plugins/CustomEnchantments/config.yml
              subPath: custom-enchantments-config.yml

            # OriginSpawn プラグインの設定ファイル
            - name: originspawn-config
              mountPath: /plugins/OriginSpawn/config.yml
              subPath: config.yml

            - name: mod-downloader-volume
              mountPath: /plugins

            - name: seichiassist-downloader-volume
              mountPath: /data/plugins

            # サーバーデータが格納されているディレクトリのマウント設定
            - name: minecraft-server-data
              mountPath: /data

      volumes:
        - name: common-mcserver-configs
          configMap:
            name: common-mcserver-configs
        - name: common-worldguard-configs
          configMap:
            name: common-worldguard-configs
        - name: common-mcserver-plugin-configs
          configMap:
            name: common-mcserver-plugin-configs
        - name: seichiassist-config
          configMap:
            name: seichiassist-config
        - name: minecraft-ops-config
          configMap:
            name: minecraft-ops-config
        - name: multiverse-portals-config
          configMap:
            name: multiverse-portals-config
        - name: custom-enchantments-config
          configMap:
            name: custom-enchantments-config
        - name: originspawn-config
          configMap:
            name: originspawn-config

        # JMX exporterをinitContainerでダウンロードしてMinecraftに受け渡すためのvolume
        - name: jmx-exporter-download-volume
          emptyDir: {}
        - name: common-jmx-exporter-config
          configMap:
            name: common-jmx-exporter-config

        # mod-downloaderからプラグインをinitContainerでダウンロードしてMinecraftに受け渡すためのvolume
        - name: mod-downloader-volume
          emptyDir: {}

        # seichiassist-downloaderからプラグインをinitContainerでダウンロードしてMinecraftに受け渡すためのvolume
        - name: seichiassist-downloader-volume
          configMap:
            name: seichiassist-downloader

        # サーバーデータが格納されているディレクトリはNAS上の特定のiSCSIパスで公開されたLUNドライブを直接マウントする
        # このボリュームに保存されたデータのライフサイクルに関する管理(バックアップリストアほか)はkubernetes上で管理されずNASに一任される
        - name: minecraft-server-data
          iscsi:
            targetPortal: 192.168.16.240
            iqn: iqn.2000-01.com.synology:seichi-cloud.k8s-static-pv--minecraft-server-data-mcserver--debug-s1-0
            lun: 1
            readOnly: false
            fsType: ext4
            chapAuthDiscovery: false
            chapAuthSession: false
