[Unit]
Description=Start seichi-kernel for debug server
After=network-online.target nss-lookup.target docker.service
Wants=network-online.target nss-lookup.target docker.service

[Service]
ExecStart=/root/seichi_infra/seichi-authenticator/start-services.sh

[Install]
WantedBy=multi-user.target
