apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: seichi-portal-rabbitmq-data
  namespace: seichi-minecraft
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 8Gi
