apiVersion: v1
kind: Service
metadata:
  name: garage-admin-api
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      protocol: TCP
      targetPort: 8080
  selector:
    app: garage-admin-api
