apiVersion: v1
kind: Service
metadata:
  name: garage-admin-ui
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: 80
  selector:
    app: garage-admin-ui
