apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: democratic-csi-sc-truenas-03
  namespace: argocd
spec:
  project: cluster-wide-apps
  source:
    chart: democratic-csi
    repoURL: https://democratic-csi.github.io/charts
    targetRevision: 0.15.1
    helm:
      releaseName: democratic-csi-sc-truenas-03
      values: |
        csiDriver:
          name: "org.democratic-csi.sc-truenas-03"

        driver:
          existingConfigSecret: democratic-csi-driver-config-sc-truenas-03
          # NOTE: existingConfigSecret 使用時も driver フィールドの指定が必要
          # ref. https://github.com/democratic-csi/charts/blob/master/stable/democratic-csi/values.yaml
          config:
            driver: freenas-api-iscsi

        storageClasses:
          - name: sc-truenas-03-iscsi
            defaultClass: false
            reclaimPolicy: Delete
            volumeBindingMode: Immediate
            allowVolumeExpansion: true
            parameters:
              fsType: ext4

        volumeSnapshotClasses:
          - name: sc-truenas-03-iscsi-vsc
            deletionPolicy: Delete
            parameters:
              # chart テンプレートが parameters キーを無条件でレンダリングするため、
              # 空 map を渡すと parameters: null になりバリデーションエラーになる。
              # 回避策として最低1エントリが必要。
              fsType: ext4
  destination:
    server: https://kubernetes.default.svc
    namespace: democratic-csi
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
