apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: k8s-monitoring
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io # cascade deletion on this App deletion
spec:
  destination:
    namespace: monitoring
    server: https://kubernetes.default.svc
  project: cluster-wide-apps
  source:
    chart: k8s-monitoring
    repoURL: https://grafana.github.io/helm-charts
    targetRevision: 3.8.1
    helm:
      values: |
        cluster:
          name: "seichi-cloud"

        destinations:
          - name: localPrometheus
            type: prometheus
            url: http://prometheus-kube-prometheus-prometheus:9090

          - name: localLoki
            type: loki
            url: http://loki-gateway:80/loki/api/v1/push

          - name: localTempo
            type: otlp
            url: http://tempo:4318/v1/traces
            metrics:
              enabled: true
            logs:
              enabled: true
            traces:
              enabled: true

          - name: localPyroscope
            type: pyroscope
            url: http://pyroscope:4040/ingest

        clusterMetrics:
          enabled: false # kube-prometheus-stackがあるのでオフ

        clusterEvents:
          enabled: true

        nodeLogs:
          enabled: true

        podLogs:
          enabled: true

        applicationObservability:
          enabled: true
          receivers:
            otlp:
              http:
                enabled: true

        autoInstrumentation:
          enabled: true

        annotationAutodiscovery:
          enabled: false

        prometheusOperatorObjects:
          enabled: false

        profiling:
          enabled: true

        alloy-metrics:
          enabled: true

        alloy-singleton:
          enabled: true

        alloy-logs:
          enabled: true

        alloy-receiver:
          enabled: true
          extraConfig: |-
            faro.receiver "default" {
              server {
                listen_address = "0.0.0.0"
                listen_port    = 12347

                cors_allowed_origins = ["https://garage-admin.onp.admin.seichi.click"]

                max_allowed_payload_size = "10MiB"
              }

              output {
                logs   = [otelcol.processor.k8sattributes.default.input]
                traces = [otelcol.processor.k8sattributes.default.input]
              }
            }
          alloy:
            extraPorts:
              - name: otlp-http
                port: 4318
                targetPort: 4318
                protocol: TCP
              - name: faro
                port: 12347
                targetPort: 12347
                protocol: TCP

        alloy-profiles:
          enabled: true

        alloy-operator:
          deploy: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
