apiVersion: apps/v1
kind: Deployment
metadata:
  name: seichi-portal-backend
  namespace: seichi-minecraft
  labels:
    app: seichi-portal-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: seichi-portal-backend
  template:
    metadata:
      labels:
        app: seichi-portal-backend
    spec:
      containers:
        - name: seichi-portal-backend
          image: ghcr.io/giganticminecraft/seichi-portal-backend:main-649c758
          resources:
            requests:
              cpu: 250m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi
          env:
            - name: MYSQL_DATABASE
              value: seichi-portal
            - name: MYSQL_USER
              value: seichi-portal
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: seichi-portal-db-credentials
                  key: password
            - name: MYSQL_HOST
              value: mariadb
            - name: MYSQL_PORT
              value: "3306"
            - name: HTTP_PORT
              value: "9000"
            - name: ENV_NAME
              value: production
            - name: REDIS_HOST
              value: seichi-portal-valkey
            - name: REDIS_PORT
              value: "6379"
            - name: MEILISEARCH_HOST
              value: http://seichi-portal-meilisearch:7700
            - name: RABBITMQ_USER
              value: seichi-portal
            - name: RABBITMQ_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: seichi-portal-rabbitmq-credentials
                  key: password
            - name: RABBITMQ_HOST
              value: seichi-portal-rabbitmq
            - name: RABBITMQ_PORT
              value: "5672"
            - name: RABBITMQ_ROUTING_KEY
              value: seichi_portal
