apiVersion: v1
kind: ConfigMap
metadata:
  name: bungeecord-plugin-configs
data:
  BungeeHubCommand-config.yml: |
    hub-server-name: debug-pr-2115-lobby
    already-connected-message: "You are already at the hub server!"

  BungeeKick-config.yml: |
    ServerName: debug-pr-2115-lobby
    KickMessage: '&6You have been kicked! Reason:&4 '
    ShowKickMessage: True

  BungeeSemaphore-config.yml: |
    synchronized-server-regex: "^(deb-s\\d+)$"
    redis:
      host: seichi-debug-bungeesemaphore-valkey.seichi-debug-gateway
      port: 6379

    locale:
      error:
        failed-saving-data: "Spigotサーバーがデータの保存に失敗しました！"

    timeout:
      millis: 4000

  RedisBungee-config.yml: |
    server-id: ""
    use-random-id-string: true
    redis-server: seichi-debug-redisbungee-valkey.seichi-debug-gateway
    redis-port: 6379
    redis-password: ""
    max-redis-connections: 8
    useSSL: false
    register-bungee-commands: true
    exempt-ip-addresses: []

  SwiftMOTD-config.yml: |
    motds:
      generic:
        - 'seichi.click network for debug 3TBUkfU6'
      dynamic:
        - 'seichi.click network for debug 3TBUkfU6'
