apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

transformers:
  - |-
    apiVersion: builtin
    kind: NamespaceTransformer
    metadata:
      name: ns-transformer
      namespace: seichi-debug-gateway
    unsetOnly: true

resources:
  - ../../../app-templates/minecraft-gateway-bungeecord
  - ./bungeecord-config.yaml
  - ./bungeesemaphore-redis.yaml
  - ./redisbungee-redis.yaml

patches:
  - path: bungeecord-metrics-patch.yaml
  - path: bungeecord-plugin-configs-patch.yaml
  - path: service-bungeecord-loadbalancer.yaml
