apiVersion: k8s.mariadb.com/v1alpha1
kind: MariaDB
metadata:
  namespace: seichi-debug-minecraft
  name: mariadb
spec:
  initContainers:
    - name: mod-downloader
      image: ghcr.io/giganticminecraft/mod-downloader:sha-6292501
      env:
        - name: MINIO_ENDPOINT
          value: seichi-private-plugin-blackhole-minio.minio:9000
        - name: MINIO_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: minio-access-secret
              key: MINIO_ACCESS_KEY
        - name: MINIO_ACCESS_SECRET
          valueFrom:
            secretKeyRef:
              name: minio-access-secret
              key: MINIO_ACCESS_SECRET
        - name: BUCKET_NAME
          value: mariadb-backups
        - name: BUCKET_PREFIX_NAME
          value: database--seichiassist-with-flyway-for-debug
        - name: DOWNLOAD_TARGET_DIR_PATH
          value: /docker-entrypoint-initdb.d
      volumeMounts:
        - mountPath: /docker-entrypoint-initdb.d
          name: sqldump-volume

  tls:
    enabled: false
  rootPasswordSecretKeyRef:
    name: mariadb
    generate: false
    key: root-password

  database: seichiassist
  username: mcserver
  passwordSecretKeyRef:
    name: mariadb
    generate: false
    key: mcserver-password

  image: docker-registry1.mariadb.com/library/mariadb:11.8
  imagePullPolicy: IfNotPresent

  port: 3306

  storage:
    ephemeral: true

  myCnf: |
    [mariadb]
    innodb_buffer_pool_size = 1G
    innodb_log_file_size = 256M
    innodb_flush_log_at_trx_commit = 2
    innodb_write_io_threads = 8
    innodb_io_capacity = 1000
    max_allowed_packet = 256M

  # resources:
  #   requests:
  #     cpu: 100m
  #     memory: 128Mi
  #   limits:
  #     memory: 1Gi

  env:
    - name: TZ
      value: SYSTEM

  podSecurityContext:
    runAsUser: 0

  securityContext:
    allowPrivilegeEscalation: false

  serviceAccountName: mariadb

  livenessProbe:
    exec:
      command:
        - bash
        - -c
        - mariadb -u root -p"${MARIADB_ROOT_PASSWORD}" -e "SELECT 1;"
    initialDelaySeconds: 20
    periodSeconds: 5
    timeoutSeconds: 5

  readinessProbe:
    exec:
      command:
        - bash
        - -c
        - mariadb -u root -p"${MARIADB_ROOT_PASSWORD}" -e "SELECT 1;"
    initialDelaySeconds: 20
    periodSeconds: 5
    timeoutSeconds: 5

  updateStrategy:
    type: ReplicasFirstPrimaryLast

  metrics:
    enabled: true
    serviceMonitor:
      prometheusRelease: prometheus

  volumeMounts:
    - mountPath: /docker-entrypoint-initdb.d
      name: sqldump-volume

  volumes:
    # 本番サーバーからもってきた sqldump をマウントするためのボリューム
    - name: sqldump-volume
