kind: ConfigMap
metadata:
  name: bungeecord-plugin-configs
apiVersion: v1
data:
  BungeeCordPrometheusExporter-config.json: |
    {
      "host": "127.0.0.1",
      "port": "9225",
      "prefix": "bungeecord_",
      "jvm_gc": "true",
      "jvm_memory": "true",
      "jvm_threads": "true",
      "player_connects": "true",
      "player_disconnects": "true",
      "server_list_pings": "true",
      "managed_servers": "true",
      "online_players": "true",
      "redis_player_connects": "false",
      "redis_player_disconnects": "false",
      "redis_online_players": "false",
      "redis_bungee_online_proxies": "false"
    }

  BungeeHubCommand-config.yml: |
    # https://github.com/GiganticMinecraft/BungeeHubCommand/blob/a33b73f258de7d484fa961d000921275fb51c45b/src/main/resources/config.yml
    # Needs override.
    # Provide name of the server to which players are sent when executing the "hub" command
    hub-server-name:

    # The message to be shown when a player already connected to the hub server tryed to run the "hub" command.
    already-connected-message: "You are already at the hub server!"

  BungeeKick-config.yml: |
    # Needs override.
    # This is where the player is kicked to. This is usually the lobby/hub server
    ServerName:

    # Message to be sent to the player who has been kicked. This message is followed by the kick reason
    KickMessage: '&6You have been kicked! Reason:&4 '

    # Set this to True if you want the kicked player to be able to see the kick reason.
    ShowKickMessage: True

  BungeeSemaphore-config.yml: |
    # Needs override.
    # Provide a regex to match servers that needs a semaphore guard.
    synchronized-server-regex:

    redis:
      host: 192.168.1.188
      port: 11788

    locale:
      error:
        failed-saving-data: "Spigotサーバーがデータの保存に失敗しました！"

    timeout:
      # Timeout for locking out players from servers when downstream saves are not confirmed.
      # Once this duration passes, a locked out player is able to join the target downstream server.
      # Default is 60 seconds timeout. Specify negative values to disable timeouts.
      millis: 4000

  RedisBungee-config.yml: |
    # https://github.com/ProxioDev/RedisBungee/blob/2df0b9fc60bea076c29b178425af358d0ed0e7fc/src/main/resources/example_config.yml

    # RedisBungee configuration file.
    # PLEASE READ THE WIKI: https://github.com/Limework/RedisBungee/wiki

    # The Redis server you use.
    # Get Redis from http://redis.io/
    redis-server: 192.168.1.188
    redis-port: 11787
    # OPTIONAL: If your Redis server uses AUTH, set the password required.
    redis-password: ""

    # Maximum connections that will be maintained to the Redis server.
    # The default is 8. This setting should be left as-is unless you have some wildly
    # inefficient plugins or a lot of players.
    max-redis-connections: 8

    # since redis can support ssl by version 6 you can use ssl in redis bungee too! 
    # you must disable this if redis version is under 6 you must disable this or connection wont work!!!
    useSSL: false

    # An identifier for this BungeeCord instance. Will randomly generate if leaving it blank.
    server-id: "test1"
    # Should use random string? if this  is enabled the proxy id will be like this if server-id is test1: "test1-66cd2aeb-91f3-43a7-a106-e0307b098652"
    # or if id is limework-bungee it will be "limework-bungee-66cd2aeb-91f3-43a7-a106-e0307b098652"
    # this great for servers who run replicas in Kubernetes or any auto deploying replica service
    # and used for if proxy died in a kubernetes network and deleted then new proxy setup itself.
    use-random-id-string: false

    # Whether or not RedisBungee should install its version of regular BungeeCord commands.
    # Often, the RedisBungee commands are desired, but in some cases someone may wish to
    # override the commands using another plugin.
    #
    # If you are just denying access to the commands, RedisBungee uses the default BungeeCord
    # permissions - just deny them and access will be denied.
    #
    # Please note that with build 787+, most commands overridden by RedisBungee were moved to
    # modules, and these must be disabled or overridden yourself.
    register-bungee-commands: true

    # A list of IP addresses for which RedisBungee will not modify the response for, useful for automatic
    # restart scripts.
    exempt-ip-addresses: []

  SwiftMOTD-config.yml: |
    # Override if necessary.
    motds:
      generic: []
      dynamic: []
